/* Styles for header, navigation, main content, and footer */

header {
    background-color:rgb(245, 73, 10);
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    color: blue;
}

footer {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
